<!DOCTYPE html>
<html>

<head>
	<title>New Post</title>
</head>

	

<body style="text-align: center;">
	<h1 >Make a new blog post</h1>

	<form method="post" action="/blog">
		<label>
			<div><font size="5">Title</font></div>
			<input type="text" name="subject" style="width: 300px; height: 25px; font-weight: bold">
		</label>
		<br>
		<br>

		<label>
			<div>
				<textarea name="content" style="width: 500px; height: 300px;"></textarea>
			</div>
		</label>

		<input type="submit">
	</form>


</body>
</html>